
#bed-order-form .field-container{
   padding: 10px 0 10px 0;
   position: relative;

   input, select{
      padding: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(189, 189, 189);
      border-radius: 2px;
      
      &.show-error{
         border-bottom: 2px solid red;
      }
   }

   .field-message{
      display: none;
      position: absolute;
      &.error{
         color: rgb(204, 0, 0);
      }
   
      &.success{
         color: rgb(0, 163, 0);
      }

      &.show-error{
         display: block;
      }
   }

}